.content-section {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  background: rgba(255, 255, 255, 1);
  opacity: 0.6px;
}

.header {
  width: 1100px;
  padding: 50px;
  align-items: center;
  margin-top: 95px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: auto;
  grid-template-rows: auto;
}

.header-menu {
  display: flex;
  justify-content: space-evenly;
  width: 391.48px;
  top: 133px;
  left: 50px;
}
.header-menu-link {
  width: 1100px;
}

.header-menu-item {
  list-style-type: circle;
  gap: 15px;
}

.header-logo-image {
  width: 148px;
  height: 105px;
  left: 478px;
}

.header-menu-item-active {
  text-decoration: none;
}

.address {
  justify-self: end;
  width: 240px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  inset: 0;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
  position: absolute;
  opacity: 60%;
  }
.cover_title {
  padding: 165px 50px 50px ;
  z-index: 1;
}

.cover-text {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.aligned-text {
  z-index: 1;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  z-index: 1;
  margin-top: 106px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover__description-text {
  align-items: center;
  z-index: 1;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  word-spacing: 18.5px;
}
.bet-button {
  width: 256px;
  height: 51px;
  color: #fff;
  border: 1px solid currentColor;
  background-color: transparent;
  z-index: 1;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.lots {
  margin-top: 180px;
}

.lots-heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-left: 60px;
}

.lots-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 27px;
  gap: 25px;
  margin-left: 24px;
  justify-content: start;
  list-style-type: none;

}
.lots-card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
  padding: 50px 40px;
  gap: 30px;
}

.card-title {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #ffffff;
  position: relative;
  font-family: Raleway sans-serif;
  top: 20px;
  left: 40px;
  right: 40px;
  font-style: normal;
  line-height: 120%;
  font-family: Raleway;
  text-align: left;
  align-self: flex-start;
  bottom: 48px;
}

.card-text {
  font-size: 20px;
  color: #ffffff;
  left: 40px;
  right: 40px;
  bottom: 48px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  text-underline-position: from-font;
  font-family: 'Raleway', sans-serif;
   
}

.card-lot-first {
  background-image: url(../images/card-lot-01.jpg);
}

.card-lot-second {
  background-image: url(../images/card-lot-02.jpg);
}

.card-lot-third {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  display: flex;
  padding-top: 50px;
  margin-left: 70px;
}

.about {
  width: 1052px;
  margin: 120px 24px 180px 24px;
  display: grid;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  padding-top: 50px; 
  margin-left: 70px; 

}
.about__column {
  display: flex;
}

.about__logo {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  top: 35px;
  left: 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  top: 35px;
  left: 47px;
}

.about-about {
  display: flex;
  flex-direction: column;
  width: 693px;
  left: 359px;
  margin-left: 24px;
  justify-content: flex-start;
  margin: 50px;
  text-align: left;
  background-size: cover;
  top: 2073px;
}

.about-title {
  margin: 60px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  font-style: normal;
  color: black;
}

.about-text {
  font-style: normal;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 60px;
  width: 688px;
  height: 150px;
top: 60px;


}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: auto;
  margin-top: 157px;
  margin-bottom: 81px;
  margin: inline 50px;
  justify-content: space-between;
  width: 1100px;
  top: 2848px;
}

.adress-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px;
  width: 264.57px;
  left: 50px;
  border: 1px 0px 0px 0px;
  font-style: normal;
}

.footer__menu {
  width: 300px;
  top: 1px;
  align-self: center;
  list-style: none;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin: auto;
}

.footer__menu-list {
  width: 163.9px;
  top: 1px;
  margin: auto;
}

.footer__menu-list-item {
  display: flex;
  justify-content: center;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 48px;
  width: 240px;
  right: 50px;
  margin: auto;
  list-style: none;
}
