.content-section {
  box-sizing: border-box;
  margin: auto;
  background: rgba(255, 255, 255, 1);
  opacity: 0.6;
  width: 100%;
  padding: 370px 700px;
}

.header {
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  grid-template-rows: auto;
  padding: 91px 5px 93px 3px;
  align-content: stretch;
}

.header-menu {
  display: flex;
  justify-content: space-evenly;
  width: 474px;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.3px;
}

.header-menu-item {
  list-style-type: circle;
  text-decoration: none;
}

.header-menu-link {
  margin-left: 19px;
}

.header-logo-image {
  width: 148px;
  height: 105.9px;
}
.address {
  justify-self: end;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  padding-right: 80px;
  font-weight: 400;
  padding-right: 97px;
  letter-spacing: 1.3px;
}

.main {
  width: fit-content;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0px 102px 52px 52px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  position: absolute;
  opacity: 60%;
  inset: 0;
}

.cover_title {
  padding: 166px 1px 0px 0px;
  z-index: 1;
}

.cover-text {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  z-index: 1;
  color: #fff;
  padding: 0px 9px 0px 3px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_center {
  z-index: 1;
  text-align: center;
  color: #fff;
}

.aligned-text_right {
  z-index: 1;
  text-align: end;
  color: #fff;
}

.cover__description {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 106px;
}

.cover__description-text {
  z-index: 1;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  word-spacing: 18.5px;
}

.bet-button {
  width: 256px;
  height: 51px;
  color: #fff;
  border: 1px solid currentColor;
  background-color: transparent;
  z-index: 1;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.lots {
  margin-top: 125px;
}

.lots-heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding: 54px 22px 1px 66px;
}

.lots-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 21px 48px 5px 23px;
  justify-content: start;
  list-style-type: none;
}

.lots-card-list-item {
  width: 334px;
  min-height: 599px;
}

.card-link {
  text-decoration: none;
  color: #fff;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-title {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #ffffff;
  position: relative;
  font-family: "Raleway" sans-serif;
  font-style: normal;
  line-height: 120%;
  text-align: left;
  align-self: flex-start;
  z-index: 1;
}

.card-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  text-underline-position: from-font;
  font-family: "Raleway", sans-serif;
  z-index: 1;
}

.card-lot-movie {
  background-image: url(../images/card-lot-01.jpg);
}

.card-lot-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-lot-painting {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding-top: 27.2px;
  margin-left: 63.7px;
}

.about {
  width: 1052px;
  margin: 124px 25px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  padding-top: 30px;
  margin-left: 75px;
}

.about__column {
  display: flex;
}

.about__logo {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 237px;
  height: 237px;
  background-color: black;
  border-radius: 50%;
}

.about__logo-image {
  width: 143px;
  height: 167px;
}

.about-about {
  display: flex;
  flex-direction: column;
  width: 760px;
  padding-left: 68px;
  justify-content: flex-start;
  background-size: cover;
}

.about-title {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  padding-top: 100px;
  padding-left: 2px;
}

.about-text {
  margin: 100px 0px 32px 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.text {
  display: flex;
  padding-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: auto;
  align-content: center;
  justify-items: center;
}

.footer__menu-list {
  width: 284px;
  padding-right: 51px;
  line-height: 21.13px;
  letter-spacing: 1.3px;
}

.footer__menu-list-item {
  display: flex;
  justify-content: center;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 47px;
  width: 240px;
  margin: 0px 3px 9px 0px;
  list-style: none;
}
